.home {
float: right;
padding-left: 1rem;
}
.right {
float: right;
padding-left 1rem;
}
.center {
float: right;
padding-left: 1rem;
}
.left {
float: left;
padding-left 1rem;
}
h1 {
font-family:monospace;
font-size: extralarge;
color: red;
}
h2 {
font-family: arial;
font-size: medium
color: orange
}
p {
font-family: timesnewroman;
font-size: medium;
color: black;
}
h3 {
font-family:monospace ;
font-size: normal;
color: darkred;
}
h4 {
font-family: ;
font-size: ;
color: ;
}
h5 {
font-family: ;
font-size: ;
color: ;
}
h6 {
font-family: ;
font-size: ;
color: ;
}
.footer-links {
display: flex;
justify-content: center;
gap: 20px;
}
.image-container {
position: relative;
display: inline-block;
width: 200px;
height: 200px;
}
.image-container img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
/* transition: opacity 0.3s ease-in-out; */
}
.image-container .hover-img {
opacity: 0;
}
.image-container:hover .hover-img {
opacity: 1;
}
.image-container:hover .default-img {
opacity: 0;
}